[submodule "muk-it/muk_dms"]
	path = muk-it/muk_dms
	url = git@github.com:muk-it/muk_dms.git
	branch = 10.0

[submodule "muk-it/muk_web"]
	path = muk-it/muk_web
	url = git@github.com:muk-it/muk_web.git
	branch = 10.0
